*/
*.csproj
*.sln
.vsconfig
!Assets
!Assets/Script/*
!Assets/Prefabs
!Assets/Scenes
!Assets/Terrain
!Assets/Material
!Assets/URP
!Assets/TerrainLayers
!Packages
!ProjectSettings
!.gitignore
!BlenderModel